# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Tuist generated artifacts
*.xcodeproj
*.xcworkspace
Derived/
graph.png

# Claude Code local settings
.claude/settings.local.json
